__pycache__/
*.py[cod]
*$py.class

*.pdf
*.bin
*.pickle
*.sqlite3

venv/
.venv/

.env
.env.*

build/
dist/


# Logs
*.log



# Jupyter notebooks checkpoints
.ipynb_checkpoints/


.vscode/
.idea/


src/infrastructure/chroma_db_data/
chromadb/

scripts/__pycache__/
scripts/*.log

